.character-dropzone {
    margin: 16px 0 24px 0;
    width: 200px;
    height: 300px;
    border: 2px dashed #d9d9d9;
    border-radius: 2px;
    text-align: center;
    background-color: #fafafa;
    transition: all 0.3s ease-in-out;
}

.character-dropzone.hovering {
    border-color: #1890ff;
    background-color: #e6f7ff;
}

.remove-character {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
